@font-face {
  font-family: 'figtree-extraBold';
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
  font-family: 'figtree-medium';
  src: url(assets/fonts/static/Figtree-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F4D04E;
}

.card {
  width: 384px;
  height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #FFF;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #111;
  box-shadow: 8px 8px 0px 0px #000;
}

.card img {
  border-radius: 10px;
}

.text {
  width: 336px;
  height: 194px;
  margin-top: 24px;
}

.learning-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 29px;
  background-color: #F4D04E;
  border-radius: 4px;
}

.learning-text-1 {
  color: #111;
  font-family: 'figtree-extraBold';
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 21px */
}

.published {
  margin-top: 12px;
}

.paragraphy-published {
  color: #111;
  font-family: 'figtree-medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.header {
  margin-top: 12px;
}

.header h1 {
  color: #111;
  font-family: 'figtree-extraBold';
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  font-weight: 36px;
}

.description {
  margin-top: 12px;
}

.description p {
  color: #6B6B6B;
  font-family: 'figtree-medium';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.author {
  margin-top: 24px;
  width: 131px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.author img {
  width: 32px;
  height: 32px;
}

.author h2 {
  color: #111;
  font-family: 'figtree-extraBold';
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
}