* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F4D04E;
}

.card {
  width: 384px;
  height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 24px;
}

.card img {
  border-radius: 10px;
}

